#rotate{
    /* transform: rotate(-30 deg); */
    /* transform: rotate(-20deg); */
    background-color: green; 
    height: 100px;
    width: 100px;
    margin-left: 300px;
    
} 

@keyframes widthandcolor{
    1%{
        background-color: green;
        width: 200px;

    }
    50%{
        background-color: teal;
    }

    100%{
        background-color: rgb(12, 0, 0);
    }
}
#rotate:hover{
    
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    animation-name: widthandcolor;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

h1{
    transform: rotateY(180deg);
}